# Core requirements

asgiref==3.3.1
attrs==20.3.0
Django==3.1.6
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.6.4
django-debug-toolbar==3.2
django-markupfield==2.0.0
djangorestframework==3.12.2
drf-nested-routers==0.92.5
drf-spectacular==0.13.2
inflection==0.5.1
jsonschema==3.2.0
Markdown==3.3.3
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
six==1.15.0
sqlparse==0.4.1
uritemplate==3.0.1
